{% extends 'base.html' %}
{% block content %}

<nav class="navbar ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
<!--      <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">-->
    <b>Todo List</b>
    </a>
  </div>
</nav>
  <div class="container">

    <div class="row">

        <div class="col-md-6">


            <form action="" method="post" class="shadow">
                        {% csrf_token %}
                      <div class="form-group">
                    <!--    <label for="exampleInputEmail1">Email address</label>-->
                        <input type="text" class="form-control"  name="task" placeholder="Enter task">
                    <!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                      </div>
                      <div class="form-group">
                        <input type="number" class="form-control"  name="priority" placeholder="Order">
                      </div>
                         <div class="form-group">
                        <input type="date" class="form-control"  name="date" placeholder="Date">
                      </div>
                       <div>
                      <button type="submit" class="btn btn-success">Submit</button>
                       </div>
            </form>
        </div>

        <div class="col-md-6">
                    {% for i in list %}
                    <div class=" shadow card text-center">
                      <div class="card-header">
                        {{i.priority}}
                      </div>
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'detailview' i.id  %}" >{{i.name}}</a></h5>
                <!--    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                       <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
                       <a href="{% url 'update' i.id %}" class="btn btn-primary">Update</a>
                    </div>
                    <div class="card-footer text-muted">
                      {{i.date}}
                    </div>
                </div>
                {% endfor %}
</div>
    </div>
  </div>

<!--{% for i in list %}-->
<!--{{i.priority}}-{{i.name}}<br>-->
<!--{% endfor %}-->
{% endblock%}



<!--<form action="" method="post">-->
<!--    {% csrf_token %}-->
<!--    <input type="text" name="task" placeholder="enter task"><br>-->
<!--     <input type="number" name="priority" placeholder="num"><br>-->
<!--    <input type="submit">-->

<!--</form>-->
